/* Custom styling */
.sexyBackground
{
    background: linear-gradient(rgb(252, 223, 190), #4D423E);
}
.whiteHeader
{
    background-color: white;
}
.jumbotronImage
{
    background-image: url("../Images/jumbotron.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}
.dumbGreenColor
{
    color: #268e7a;
}
.dumbGreenBackground
{
    background-color: #268e7a;
}
.pHeight
{
    height: 50px;
}
.cardZoom
{
    transition: transform 1s;
}
.cardZoom:hover
{
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {

    .list { order: 1; }
    .cards { order: 2;  }
}